body {
    
    
    font-family: sans-serif;
}

.w-25 {
    
    margin-left: 10px;
    background-color: rgb(205, 127, 207);
    margin-top: 10px;
    height: 100px;
    
}

.w-50 {
    
    background-color:  rgb(205, 127, 207);
    color: white;
    margin-left: 10px;
    margin-top: 10px;
   height: 400px;
    
}


.crystals-button {
    display: inline;
  }
  
  .crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: lightblue;
  }
  

.match{
    
    background-color:  rgb(205, 127, 207);
    margin-left: 25px;
    margin-top: 10px;
    padding:10px; 
    height: 120px;
}

#randomNumber{
    
    background-color:  rgb(205, 127, 207);
    margin-top: 10px;
    padding:10px; 
    height: 120px;
}

.gameStatistics {
    
    background-color: aqua;
    margin: 10px;
    padding-top: 5px;
    height: 120px;
}

.image {
    
    margin-top: 10px;
    margin-left: 25px;
    width: 80px;
    height: 80px;
}

.score{
    
    background-color: cadetblue;
    margin-left: 25px;
    margin-top: 10px;
    height: 25px;
}

.scoreCount {
    
    background-color: cadetblue;
    margin-left: 25px;
    margin-top: 10px;
    height: 100px;
}
